node_modules/

todo.component.js
todo.component.js.map
todo.component.spec.js
todo.component.spec.js.map

tabs-component.js
tabs-component.js.map

boot.js
boot.js.map

coverage

# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
